In [2]:
import pandas as pd
import numpy as np

# 读取数据
df = pd.read_csv(r"E:\大学\综合项目实践\processed_data.csv")
print(df.head())
# Min-Max 归一化函数
def min_max_normalization(column):
    return (column - column.min()) / (column.max() - column.min())

#对数据进行 Min-Max 归一化 
normalized_df = df.copy()
for column in df.columns[2:]:
    normalized_df[column] = min_max_normalization(normalized_df[column])

# 打印归一化后的数据前五行
print(normalized_df.head())

# 将归一化后的数据保存到新的 CSV 文件中
normalized_df.to_csv("Min-Max归一化pr.csv", index=False)

         Date  Discharge     Dayl   Prcp    Srad  Swe  Tmax  Tmin      Vp  \
0  2000-01-08       49.0  32486.4   1.77  161.63  0.0  1.54 -6.54  374.92
1  2000-01-09       46.0  32486.4   0.00  168.24  0.0  0.82 -6.76  369.02
2  2000-01-10       83.0  32832.0   0.00  150.35  0.0  4.09 -2.70  503.67
3  2000-01-11      120.0  32832.0  18.22   72.23  0.0  4.75  0.67  637.65
4  2000-01-12       79.0  32832.0   1.19  138.55  0.0  4.07 -2.58  507.84

   Prcp_lag_1  ...  Tmax_lag_6  Srad_lag_6  Discharge_lag_6  Prcp_lag_7  \
0        0.00  ...        6.99      214.92             39.0        0.00
1        1.77  ...       11.65      176.35             44.0        0.00
2        0.00  ...       11.61      143.33             77.0        2.58
3        0.00  ...       11.80      188.99             91.0        8.58
4       18.22  ...       -2.70      208.24             55.0       13.93

   Tmax_lag_7  Srad_lag_7  Discharge_lag_7  Year  Month  Day
0        1.56      204.85             39.0  2000      1    8
1        6.99      214.92             39.0  2000      1    9
2       11.65      176.35             44.0  2000      1   10
3       11.61      143.33             77.0  2000      1   11
4       11.80      188.99             91.0  2000      1   12

[5 rows x 40 columns]
         Date  Discharge      Dayl      Prcp      Srad  Swe      Tmax  \
0  2000-01-08       49.0  0.030303  0.024703  0.189954  NaN  0.400230
1  2000-01-09       46.0  0.030303  0.000000  0.199886  NaN  0.386455
2  2000-01-10       83.0  0.045455  0.000000  0.173005  NaN  0.449015
3  2000-01-11      120.0  0.045455  0.254292  0.055625  NaN  0.461641
4  2000-01-12       79.0  0.045455  0.016609  0.155275  NaN  0.448632

       Tmin        Vp  Prcp_lag_1  ...  Tmax_lag_6  Srad_lag_6  \
0  0.452510  0.140982    0.000000  ...    0.504496    0.270025
1  0.447908  0.138327    0.024703  ...    0.593648    0.212072
2  0.532845  0.198915    0.000000  ...    0.592883    0.162457
3  0.603347  0.259201    0.000000  ...    0.596518    0.231064
4  0.535356  0.200791    0.254292  ...    0.319112    0.259988

   Discharge_lag_6  Prcp_lag_7  Tmax_lag_7  Srad_lag_7  Discharge_lag_7  Year  \
0         0.030594    0.000000    0.400612    0.254895         0.030594   0.0
1         0.035119    0.000000    0.504496    0.270025         0.030594   0.0
2         0.064989    0.036008    0.593648    0.212072         0.035119   0.0
3         0.077661    0.119749    0.592883    0.162457         0.064989   0.0
4         0.045076    0.194417    0.596518    0.231064         0.077661   0.0

   Month       Day
0    0.0  0.233333
1    0.0  0.266667
2    0.0  0.300000
3    0.0  0.333333
4    0.0  0.366667

[5 rows x 40 columns]

In [3]:
normalized_df.head()

,Date,Discharge,Dayl,Prcp,Srad,Swe,Tmax,Tmin,Vp,Prcp_lag_1,...,Tmax_lag_6,Srad_lag_6,Discharge_lag_6,Prcp_lag_7,Tmax_lag_7,Srad_lag_7,Discharge_lag_7,Year,Month,Day
0,2000-01-08,49.0,0.030303,0.024703,0.189954,NaN,0.400230,0.452510,0.140982,0.000000,...,0.504496,0.270025,0.030594,0.000000,0.400612,0.254895,0.030594,0.0,0.0,0.233333
1,2000-01-09,46.0,0.030303,0.000000,0.199886,NaN,0.386455,0.447908,0.138327,0.024703,...,0.593648,0.212072,0.035119,0.000000,0.504496,0.270025,0.030594,0.0,0.0,0.266667
2,2000-01-10,83.0,0.045455,0.000000,0.173005,NaN,0.449015,0.532845,0.198915,0.000000,...,0.592883,0.162457,0.064989,0.036008,0.593648,0.212072,0.035119,0.0,0.0,0.300000
3,2000-01-11,120.0,0.045455,0.254292,0.055625,NaN,0.461641,0.603347,0.259201,0.000000,...,0.596518,0.231064,0.077661,0.119749,0.592883,0.162457,0.064989,0.0,0.0,0.333333
4,2000-01-12,79.0,0.045455,0.016609,0.155275,NaN,0.448632,0.535356,0.200791,0.254292,...,0.319112,0.259988,0.045076,0.194417,0.596518,0.231064,0.077661,0.0,0.0,0.366667

In [4]:
# Z-Score 标准化函数
def z_score_normalization(column):
    return (column - column.mean()) / column.std()

# 对数据进行 Z-Score 标准化
normalized_df = df.copy()
for column in df.columns[2:]:
    normalized_df[column] = z_score_normalization(normalized_df[column])

# 打印归一化后的数据前五行
print(normalized_df.head())

# 将归一化后的数据保存到新的 CSV 文件中
normalized_df.to_csv("Z-Score标准化.csv", index=False)

         Date  Discharge      Dayl      Prcp      Srad  Swe      Tmax  \
0  2000-01-08       49.0 -1.375809 -0.269642 -1.184460  NaN -0.992849
1  2000-01-09       46.0 -1.375809 -0.507515 -1.134343  NaN -1.058464
2  2000-01-10       83.0 -1.331552 -0.507515 -1.269985  NaN -0.760459
3  2000-01-11      120.0 -1.331552  1.941103 -1.862290  NaN -0.700312
4  2000-01-12       79.0 -1.331552 -0.347589 -1.359452  NaN -0.762282

       Tmin        Vp  Prcp_lag_1  ...  Tmax_lag_6  Srad_lag_6  \
0 -0.729902 -0.836319   -0.507515  ...   -0.501052   -0.781345
1 -0.751663 -0.847891   -0.269642  ...   -0.075040   -1.073961
2 -0.350065 -0.583796   -0.507515  ...   -0.078697   -1.324472
3 -0.016719 -0.321015   -0.507515  ...   -0.061327   -0.978066
4 -0.338195 -0.575617    1.941103  ...   -1.386900   -0.832023

   Discharge_lag_6  Prcp_lag_7  Tmax_lag_7  Srad_lag_7  Discharge_lag_7  \
0        -0.532577   -0.508870   -0.997933   -0.857839        -0.531815
1        -0.487535   -0.508870   -0.501400   -0.781438        -0.531815
2        -0.190256   -0.162309   -0.075277   -1.074070        -0.486761
3        -0.064138    0.643647   -0.078935   -1.324593        -0.189405
4        -0.388442    1.362291   -0.061561   -0.978170        -0.063254

       Year    Month       Day
0 -1.421237 -1.61127 -0.885057
1 -1.421237 -1.61127 -0.771299
2 -1.421237 -1.61127 -0.657542
3 -1.421237 -1.61127 -0.543785
4 -1.421237 -1.61127 -0.430027

[5 rows x 40 columns]